{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/proposal-optional-chaining",
        "@babel/proposal-nullish-coalescing-operator"
    ]
}